#header-bar {
    height:60px;
    background-color: #222;
}
#contents-container, #header-container {

}
#background-cover {
    max-height: 100%;
    background-size: cover !important;
}

#logo {
    font-size: 23px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #99f;
    padding: 15px;
    width: 300px;
    display: inline-block;
}
#logo-lower {
    font-size: 18px;
    color: #fff;
}

#nav-buttons {
    display: inline-block;
}

.nav-button {
    margin-top: -12px;
    height: 56px;
    font-size: 25px;
    background-color: #222;
    color: #fff;
}

.nav-button-active {
    background-color: #3a3a3a !important;
}

#right-nav-buttons {
    display: inline-block;
    float: right;
}

#right-nav-buttons .nav-button {
    margin-top: 2px !important;
    margin-right: 20px !important;
}